extends layout
block content
    div.container(style="margin:30px 100px;")
        div(style="height:50px;")
        div.alert.alert-success Data inserted succesfully

        img(src="/images/#{fileName}")
